.main {
    border: 4px solid black;
    height: 250px;
    width: 85vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* вывод по середине */
    font-size: 28px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.tableButtons button {
    height: 50px;
    margin-top: 70px;
    border-radius: 12px;
    border: none;
    width: 260px;
    font-size: 20px;
     /* Расстояние между ячейками, но появляется отступ справа */
}

.tableButtons button:hover {
    background-color: rgb(25, 83, 138);
    transition-duration: 2s;
    transform: scale(120%);
    outline: 3px solid black;
    outline-offset: 3px;
}

.tableButtons button:focus {
    outline: 3px solid black;
}

button[name$="1"] {
    background-color: rgb(35, 171, 35);
    color: white;
    margin-right: 30px;
}

button[name$="2"] {
    background-color: rgb(155, 173, 222);
    color: white;
    margin-right: 30px;
}

button[name$="3"] {
    background-color: rgb(235, 177, 70);
    color: black;
}