# Зависимости
node_modules

# Разное
.DS_Store

# Может пригодиться на неделе 11 (работа с Sequelize)
# Точно пригодится на неделях 15-16 (сессии, деплой)
# .env

# Пригодится с недели 15 (сессии)
# sessions
