aside {
  width: 300px;
  height: 200vh;
  padding: 10px;
  font-size: large;
}

main {
  font-size: large;
}

.left-column {
  float: left;
}

.right-column {
  float: right;
}

h1,
h2,
h3 {
  margin: 10px;
}

.header {
  padding: 20px;
  text-align: center;
}

.logo {
  width: 30%;
  height: 45%;
  float: left;
  justify-self: center;
  overflow: hidden;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);

  border: 10px solid white;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, .5);

  animation: ava-animate 15s infinite alternate;
}

@keyframes ava-animate {
  0% {
    border-radius: 49% 51% 52% 48% / 50% 49% 51% 50%;
  }

  40% {
    border-radius: 0% 100% 0% 100% / 100% 0% 100% 0%;
  }

  60% {
    border-radius: 49% 51% 52% 48% / 50% 49% 51% 50%;
  }

  100% {
    border-radius: 0% 100% 0% 100% / 100% 0% 100% 0%;
  }
}

.title {
  font-size: 34px;
  margin-top: 10px;
}

.hero_link {
  margin-right: 10px;
  color: black;
}

.hero_link:hover {
  color: rgb(27, 112, 183);
}

.hero_links {
  display: flex;
  font-size: 32px;
  color: black;
}

.hero_subtitle {
  font-size: 32px;
  font-weight: 400;
}

footer {
  right: 330px;
  bottom: 20px;
}
