* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    width: 100%;
    height: 100px;
    border: 2px solid red;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 90%;
    height: 80%;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid red;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.menu > div {
    width: 50px;
    height: 20px;
    border: 1px solid red;
}

main {
    display: flex;
    border: solid 1vw transparent;
    justify-content: space-between;
    gap: 2vw;
}

.left-side {
    display: flex;
    border: solid 4px green;
    width: 69vw;
    height: 60vw;
}

.attach-left-side {
    display: flex;
    margin: 2.1vw;
    border: solid 2px hotpink;
    width: 35vw;
    height: 55vw;
}

.attach-right-side .figure1 {
    display: flex;
    border: solid 2px darkgreen;
    width: 10vw;
    height: 27.25vw;
}

.attach-right-side .figure2 {
    display: flex;
    border: solid 2px darkgreen;
    width: 10vw;
    height: 27.25vw;
    margin-top: 27.75vw;
}

.attach-right-side {
    display: flex;
    margin: 2vw;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.right-side {
    display: flex;
    width: 30vw;
    height: 39vw;
    border: solid 4px red;
}

.right-side-bottom {
    display: flex;
    width: 30vw;
    height: 20vw;
    border: solid 4px olive;
}

footer {
    display: flex;
    justify-content: space-around;
    border: solid 4px rgb(7, 7, 124);
    width: 100%;
    height: 30vw;
}

.footer-left-side {
    margin-right: 6vw;
    width: 60%;
    display: flex;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-menu > div {
    width: 15vw;
    height: 3vw;
    border: 2px solid red;
}

.footer-right-side {
    margin-top: 24vw;
    margin-right: 0.5vw;
    border: solid 2px green;
    width: 32vw;
    height: 3vw;
}
