header {
    height: 300px;
    position: relative; 
}

h1 {
    position: absolute; /* абсолютное позиционирование элемента. */
    top: 30%; left: 50%; /* перемещает элемент в центр родительского контейнера по вертикали(50%) и горизонтали. */
    transform: translate(-50%, -50%); /* выравнивание элемента по центру относительно его собственных размеров. */
    color: yellow;
    font-size: 48px;
}

aside {
    width: 350px;
    height: 80vh;
    padding: 10px;
    font-size: large;
    display: flex;
}

.left-column {
    float: left;
}

.right-column {
    float: right;
}

main {
    height: 80vh;
    padding: 10px;
    display: flex;
}

footer {
    height: 150px;  
}
