* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    color: var(--main-purple, #4520ab);
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -3.2px;
    margin: 44px 472px;
    line-height: 52px;
}

.inputField {
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 14px;
    border: 2px solid var(--bg-black, #111);
    margin: 0 auto; /* Горизонтальное центрирование */
    margin-top: 86px; /* Вертикальное выравнивание */
}

.input__text {
    border: none;
    margin-left: 21px;
    margin-top: 12.5px;
    flex-shrink: 0;
    color: var(--bg-black, #111);
    font-family: "IBM Plex Mono", monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.9px;
    opacity: 0.4;
}

.input__text:focus {
    outline: none;
}

.input__button {
    margin: 6px;
    padding: 0px 12px 5px 12px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--bg-black, #111);
    color: var(--textmain-inverse, #fff);
    font-family: "IBM Plex Mono", monospace;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
}

.table {
    display: flex;
    margin-top: 60px;
    max-width: 500px;
    flex-shrink: 0;
    background: #f0f0f0;
    border-radius: 8px;
    border: 0px solid var(--bg-purple, #4520ab);
    font-family: IBM Plex Mono;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.54px;
}

#leftTable {
    width: 50%;
    padding-left: 15px;
    border-right: 2px solid #111;
}

.rightTable {
    width: 50%;
    background: #adadad;
    padding-left: 25px;
    border-radius: 0px 8px 8px 0px;
}

.mnogabukv {
    max-width: 90px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tooltip {
    display: none;
    position: absolute;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.1);
}

.rightTable .deleteButton {
    display: flex;
}

.footer-container {
    margin-top: 66.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clearButton {
    border: none;
    display: inline-flex;
    padding: 6px 10px 8px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #adadad;
}

.clearButton:active {
    transform: scale(0.75);
    transition: transform 0.2s;
}

.clearButton__elements {
    display: flex;
    align-items: center;
    gap: 12px;
}
